/* body{
    padding:50px;
} */
#cv-form{
    /* display:none; */
}
#cv-template{
    display: block;
}

.myimg{
    border-radius: 50%;
    width: 200px;
}
/* .container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
.background{
    background-color: aqua;
}
.form-group{
    margin-bottom:30px;
}